.footer{
    display: flex;
    justify-content: space-around;
    color:white;
    background-color:darkslateblue;
    margin-top: 20px;
}
li{
    list-style: none;
    padding-bottom: 5px;
}
.footer-icons{
    display: flex;
}
.footer-icons li{
    padding-left: 5px;
}
.footer-icons li:hover{
    color:hsl(180, 66%, 49%)
}